* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    background: linear-gradient(45deg, #000, #252525);
    min-height: 100vh;
    color: #777;
    .form-container {
        width: 100%;
        img {
            width: 100px;
            margin: 0 auto;
            padding: 50px 0 0 0;
            display: block;
        }
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
            // letter-spacing: -1px;    
            color: #fff;
            margin: 25px 0 5px 0;
        }
        .desc {
            text-align: center;
            margin: 0;
        }
        .form-cars {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0 auto;
            padding: 20px;
    
            label {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: -1px;
                font-size: 0.875rem;
                p {
                    margin: 3px 10px;
                }
            }
            input {
                padding: 5px 20px;
                border: solid 2px #404040;
                border-top: 2px solid #181818;
                border-left: 2px solid #181818;
                border-radius: 5px;
                font-size: 1.1rem;
                font-family: Arial, Helvetica, sans-serif;
                background: #282828;
                color:#fff;
                &:focus-visible {
                    outline: none;
                    box-shadow: 0 0 0 2px #e100ff;
                    border-color: transparent;
                }
            }
            input[type="color"] {
                height: 50px;
                width: 100%;
            }
        }
    }
    .table-container {
        width: 100%;
        margin: 50px;
        overflow:hidden;
        border-collapse:collapse;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
        thead {
            th {
                padding: 20px 10px;
            }
            .head-image {
                width: 200px;
            }
            .head-color {
                width: 120px;
            }
            font-weight: 100;
            color: #fff;
            background: #f36;
        }
        .table-data {
            tr {
                border-bottom: 5px solid #181818;
            }
            td {
                background: #303030;
                text-align: center;
                margin: 10px;
                height: 120px;
                padding: 0;
                color: #fff;
                text-transform: uppercase;

            }
            .car-image {
                text-align: left;
                padding: 5px 5px 0 5px;
                img {
                    height: 120px;
                    width: 200px;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
            .car-actions {
                width: 15px;
                padding: 10px;
                img {
                    width: 20px;
                    height: 20px;
                }    
            }
            .car-color {
                width: 120px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                color: #fff;
            }
            .empty-row {
                height: 100px;
            }
        }
    }
}
.button-primary {
    width: 100%;
    padding: 15px 30px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(180deg, #ff5990, #f36);
    &:hover {
        filter: contrast(1.5);
    }
}
.button-secundary {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;
    color: #fff;
    background: #181818;
    &:hover {
        filter: contrast(1.5);
    }
}
.messagebox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #181818e0;
    .messagebox-container {
        width: 100vw;
        height: 100vh;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        .messagebox-modal {
            width: 500px;
            display: grid;
            grid-template-columns: 150px 1fr;
            grid-template-areas: 
                "icon message"
                "button button"
            ;
            padding: 30px 20px 10px 20px;
            border-radius: 10px;
            background: #222;
            span {
                grid-area: icon;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
                font-size: 5rem;
                margin: 0;
                text-align: center;
                color: #f36;
            }
            p {
                grid-area: message;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                padding: 5px;
            }
            .messagebox-actions {
                grid-area: button;
            }
        }
    }
}